@model FirstWebApp.App.Models.TreeEntity

@{
    ViewData["Title"] = "Usuń";
}

<br/>
<br/>
<h1>Usunąć Wpis o ID @Model.IdTree?</h1>
<h3>Drzewa</h3>
<br/>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.TreeDateAdded)*@
            Data Dodania:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreeDateAdded)
        </dd>
        <dt class = "col-sm-2">
            Nazwa Drzewa:
            @*@Html.DisplayNameFor(model => model.TreeName)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreeName)
        </dd>
        <dt class = "col-sm-2">
            Opis Drzewa:
            @*@Html.DisplayNameFor(model => model.TreeDescription)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreeDescription)
        </dd>
        <dt class = "col-sm-2">
            Opis Liścia:
            @*@Html.DisplayNameFor(model => model.LeafDescription)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeafDescription)
        </dd>
        <dt class = "col-sm-2">
            Maksymalna Wysokość:
            @*@Html.DisplayNameFor(model => model.MaxHeight)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxHeight)
        </dd>
    </dl>

</div>

<div class="form-group">
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="IdTree" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
        <br/>
    </form>

    <br />

    <form asp-action="Index">
        <input type="submit" value="Powrót do Listy" class="btn btn-primary" />
    </form>
</div>
