@model FirstWebApp.App.Models.TreeEntity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TreeEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreeDateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreeDateAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreeDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreeDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeafDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeafDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxHeight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTree">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
