@model FirstWebApp.App.Models.AnimalEntity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AnimalEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalDateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalDateAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfIndividuals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfIndividuals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endangered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endangered)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAnimal">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
