@model FirstWebApp.App.Models.AnimalEntity

@{
    ViewData["Title"] = "Szczegóły";
}
<br/><br/>
<h1>Szczegóły Wpisu ID @Model.IdAnimal</h1>
<h4>Zwierzęta</h4>
<br/>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Data Dodania
            @*@Html.DisplayNameFor(model => model.AnimalDateAdded)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalDateAdded)
        </dd>
        <dt class = "col-sm-2">
            Nazwa Zwierzęcia
            @*@Html.DisplayNameFor(model => model.AnimalName)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalName)
        </dd>
        <dt class = "col-sm-2">
            Opis
            @*@Html.DisplayNameFor(model => model.AnimalDescription)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalDescription)
        </dd>
        <dt class = "col-sm-2">
            Liczba Osobników
            @*@Html.DisplayNameFor(model => model.NumberOfIndividuals)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfIndividuals)
        </dd>
        <dt class = "col-sm-2">
            Zagrożone
            @*@Html.DisplayNameFor(model => model.Endangered)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endangered)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAnimal" class="linkedit">Edytuj</a> |
    <a asp-action="Index" class="linkedit">Powrót do Listy</a>
</div>
