@model IEnumerable<FirstWebApp.App.Models.AnimalEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalDateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimalDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfIndividuals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endangered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalDateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfIndividuals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endangered)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAnimal">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAnimal">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAnimal">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
