@model IEnumerable<FirstWebApp.App.Models.AnimalEntity>

@{
    ViewData["Title"] = "Index";
}
<br/>
<br/>
<h1>Lista Zwierząt w Bazie Danych</h1>
<br/>
<hr />

<table class="table" style="color:white;">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.IdAnimal)*@
                Id
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.AnimalDateAdded)*@
                Data Dodania
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.AnimalName)*@
                Nazwa Zwierzęcia
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.AnimalDescription)*@
                Opis
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NumberOfIndividuals)*@
                Liczba Osobników
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Endangered)*@
                Zagrożone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalDateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfIndividuals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endangered)
            </td>
            <td>

                    <a asp-action="Edit" asp-route-id="@item.IdAnimal" class="linkedit">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.IdAnimal" class="linkedit">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdAnimal" class="linkedit">Usuń</a>

            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create" class="linkedit">Stwórz Wpis</a>
</p>
